* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

button, input[type="text"] {
  padding: 5px;
  border: 1px solid grey;
  border-radius: 3px;
  width: 350px;
}



.general-submit-button {
 
  width: 150px;
  border-radius: 7px;

}

button:hover {
  cursor: pointer;
}

button:hover:disabled {
  cursor: default;
}

.hidden {
  display: none;
}


/*#bookmark-list-item*/
.bookmark-list-item {
  width: 850px;/* 250px */
  background-color: orange;
}

.container {
  max-width: 800px;
  margin-left: 0 auto;
  padding-left: 125px;
  /*margin: 0 auto;*/
}

 

.bookmark-add {
  list-style: none;
  padding-left: 0;
}

.js-bookmark-add-button{
  list-style: none;
  padding-left: 0;
  width: 150px;
  border-radius: 7px;
}

.viewMode-stuff {
 
  padding-left: 40px;
   

}

.js-rating-form {

  padding-left: 300px;

}

.right-rating {

  padding-left: 400px;

}

/*
#js-add-bookmark-form {
  width: 550px;
  padding-left: 0;
  margin-bottom: 20px;
  border: 1px solid grey;
  padding: 20px;
  border-radius: 10px;
  

}
*/

.js-add-form {
  width: 550px;
  padding-left: 0;
  margin-bottom: 20px;
  border: 1px solid grey;
  padding: 20px;
  border-radius: 10px;
   

}


.bookmark-list > li {
  width: 550px;
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;
  border: 1px solid grey;
  padding: 20px;
  border-radius: 10px;
   
}

.bookmark-item {
  display: block;
  color: grey;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 15px;
}

.shopping-item__checked {
  text-decoration: line-through;
}


.js-bookmark-list-entry {

  color: blue;

}

.js-bookmark-title-entry {

  color: blue;

}

.js-bookmark-desc-entry {

  color: blue;

}

.js-bookmark-url-entry {

  color: blue;

}

.js-collapse-button {

  color: red;
 

}

  

.js-start-add-button {

  width: 150px;
  border-radius: 7px;

}

.Add-submit-button {

  width: 150px;
  border-radius: 7px;

}